<div class="show-me-lunch">
    <div class="row">
        <div class="col-sm-2" align="right-md center-sm">
            <img class="img-responsive" src="../../../assets/back.png" (click)="changeDay(-1)">
        </div>
        <div class="col-sm-8">
            <h4>{{ this._currentLunch.date }}</h4>
        </div>
        <div class="col-sm-2 align-middle" align="left-md center-sm">
            <img class="img-responsive" src="../../../assets/next.png" (click)="changeDay(1)">
        </div>
    </div>

    <hr/>

    <div class="todays-lunch" align="center">
        <p>{{ this._currentLunch.menu }}</p>
    </div>
</div>
