<div class="food-input">
    <!-- <div class="form">
        <form class="simple-form">
            <label>Amount Ordered <input type="number" ng-model="foodinput.ordered" /></label><br />
            <label>Amount Left Over <input type="number" ng-model="foodinput.leftOver" /></label><br />
            <label>Main Course <input type="text" ng-model="foodinput.mainCourse"/></label><br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(foodinput)" value="Save" />
        </form>
    </div> -->

    <table class="foodinput-table">
        <thead>
            <td>Timestamp</td>
            <td>Amount Ordered</td>
            <td>Amount Left Over</td>
            <td>Main Course</td>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
