.line-status {
    text-align: center;
}

.sectionTitle {
}

.sectionText {
    font-size: 1.25em;
    font-weight: bold;
}

.row {
    padding-right: 32pt;
    padding-left: 32pt;
    padding-top: 24pt;
    padding-bottom: 24pt;
}
