<div class="row">
    <div class="col-sm-12 col-md-4" align="center">
        <div class="sectionTitle">
            Line status:
        </div>
        <h4>
            {{ _lineStatus.lineOpen ? "Opened" : "Closed" }}
        </h4>
        <br />
        <div class="sectionTitle">
            # of people in line:
        </div>
        <h4>
            {{ _lineStatus.lineLength }}
        </h4>
        <br />
        <div class="sectionTitle">
            Wait time:
        </div>
        <h4>
            {{ (_lineStatus.lineLength / _lineStatus.linePace) || 0 }} minutes
        </h4>
    </div>

    <div class="col-sm-12 col-md-8" id="hungergames-plot">
        Plotly
        <script>
            Plotly.newPlot('hungergames-plot', {{ data }}, {{ layout }}, { responsive: true });
        </script>
    </div>
</div>
