.cam-feed {
    padding-right: 32pt;
    padding-left: 32pt;
    padding-top: 16pt;
    padding-bottom: 16pt;
}

.row {
    margin-top: 16pt;
}

a {
    color:inherit;
    text-decoration: none;
}

iframe {
    // visibility: hidden;
    // position: absolute;
    // left: 0; top: 0;
    // height:0; width:0;
    // border: none;
    // display: none;
}
